@font-face {
    font-family: 'TwemojiMozilla';
    src: url('https://files.catbox.moe/sqwehz.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.vc-channelemojis-emoji
{
    background-color: var(--background-floating);
    border-radius: 50vh;
    height: 27px;
    width: 27px;
    min-width: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1vh;
}

.vc-channelemojis-emoji h1
{
    height: 9px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "TwemojiMozilla";
}