.vc-favouritemodal-gifs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    grid-gap: 10px;
    overflow-y: auto;
    img
    {
        width: 17vh; 
        height: 17vh; 
        border-radius: 2vh;
        transition: all 0.3s ease;
        object-fit: cover;
        transform: scle(1);
    }
    img:hover
    {
        transform: scale(1.2);
        object-fit: contain;
        border-radius: 2vh;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        z-index: 500;
    }
} 

.vc-favouritemodal-scrollbuttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}

.vc-favouritemodal-scroll {
    border-radius: 5vh; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 3vh;
    width: 3vh;
}

.vc-favouritemodal-scrollcurrent {
    background-color: var(--channeltextarea-background);
}


.vc-favouritemodal-header {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
